ttgen
*.o
*.taghl
tags
*~
*.pyc
*.db
*.inc
*Makefile.in
*Makefile
/autom4te.cache/
/config.*
/m4/
/aclocal.m4
/test-driver
/autoscan.log
/configure*
/compile
/install-sh
/missing
/stamp-h?
/depcomp
.deps/
.dirstamp
*.o
*~
