*project
*.o
*.a
*.out
*.db
*.pyc
*.inc

*.swp
*~

*.taghl
tags

doc/doxygen

*Makefile.in
*Makefile

/autom4te.cache/
/config.*

/aclocal.m4
/autoscan.log
*.log
/configure
/configure.scan
/compile
/install-sh
/ar-lib
/missing
/stamp-h?
/depcomp
/test-driver
*.sed
*.sin
*.header
*.in

.deps/
.dirstamp
trace
POTFILES
ABOUT_NLS
ABOUT-NLS
libtool
ltmain.sh
Makevars
stamp-po
*.gmo
.libs*
*.la
*.lo
